{% load static %}
<!doctype html>

<html>
    <head><meta charset="utf-8">
    {% block head_additional%}
    {% endblock %}
    <title> Szkoła | {% block title %}{% endblock %}</title>
    </head>
    <body>
    {% include "header.html" %}
    {% block content %}
    {% endblock %}
    <footer>
    {% include "footer.html" %}
    {% if request.user.is_authenticated %}
        <P> username: {{ request.user.username }} </p>
        <p><a href ="logout"> Wyloguj</a><p>
    {% else %}
        <p>Użytkownik niezalogowany </p>
        <p><a href="{% url 'login' %}">Zaloguj się</a><p>
    {% endif %}
    </footer>
    </body>
</html>
